@font-face {
    font-family: 'Satoshi';
    src: url('../../public/fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url('../../public/fonts/Satoshi-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url('../../public/fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Satoshi', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #1A1A1A;
    margin: 0;
}

.top_menu {
    background-color= red;
}
