button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


@font-face {
    font-family: 'Satoshi';
    src: url('../../public/fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url('../../public/fonts/Satoshi-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url('../../public/fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Satoshi', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #1A1A1A;
    margin: 0;
}

.top_menu {
    display: flex;
    background-color: red;
}
.top_menu_button {
    padding: 10px 20px 10px 20px;
    border-radius: 0px;
    border-style: solid;
    border-width: 3px 3px 3px 0px;
    border-color: black;
    background-color: blue;
    
    /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    user-select: none;         /* Standard syntax */
    
    /* Removes the gray highlight box on tap (mobile Safari/Chrome) */
    -webkit-tap-highlight-color: transparent;

}
.top_menu_button:active {

    background-color: green;
    box-shadow: inset 2px 2px 8px rgba(0,0,0,0.4);
    transition: box-shadow 0.15s, background-color 0.15s ease 0s;
}
